#shopContent {
  display: flex;
  justify-content: space-around;
}

/*Banner styles*/
.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.bannerContainer {
  text-align: center;
  padding: 15% 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 62px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/*styles for banner botton*/
.btn-flat {
  color: white;
  padding: 16px 35px;
  border-radius: 4px;
  background: #1b1b1b;
  transition: background 0.3s ease;
  text-decoration: none;
  font-weight: bold;
}

.btn-flat:hover {
  opacity: 0.9;
  color: white;
}

/*cards product styles*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card img {
  height: 200px;
}

.cardInfo {
  height: 80px;
}
.price {
  color: grey;
  margin-top: -10px;
}
.card h3 {
  color: #3f3f3f;
  margin-top: -1px;
}
.card h5 {
  color: #999;
  margin-top: -10px;
}
.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: #fff;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}

.card button:hover {
  opacity: 0.7;
}
